# Kiểm định ANOVA

Tập tin ‘Samples.txt’ lưu trữ 4 mẫu dữ liệu được lấy từ các quần thể đều có phân phối chuẩn.

6.1) Với alpha = 5%, hãy kiểm định giả thuyết H0: “Các quần thể có cùng phương sai.”

6.2) Với alpha = 5%, hãy kiểm định giả thuyết H0: “Các quần thể có cùng giá trị trung bình.”

6.3) Nếu bác bỏ giả thuyết H0 trong câu, hãy cho biết những quần thể nào có sự khác biệt về giá trị trung bình.

In [1]:
from google.colab import drive
drive.mount("/content/drive")

%pwd
%ls
%cd 
%ls

Mounted at /content/drive
drive/  sample_data/
/root

In [2]:
import os
path = "/content/drive/My Drive/bai_thi_lds3/LDS3. De thi cuoi khoa K274/"
folder = "Data/"
os.chdir(path)
files = os.listdir(folder)
print(files)

['Duong_huyet_SAU.txt', 'Duong_huyet_TRUOC.txt', 'Samples.txt', 'Breast Cancer WI.csv', 'IQ6.xls']

In [3]:
#Import các thư viện cần thiết
import numpy as np
import pandas as pd
from numpy.linalg import norm
import matplotlib.pyplot as plt

In [4]:
### CAU 6 - KIEM DINH ANOVA ###
data_6 = pd.read_csv(folder+files[2], sep="\t")
data_6

      A     B      C     D
0    93  85.0  100.0  96.0
1   120  45.0   75.0  58.0
2    65  80.0   65.0  95.0
3   105  28.0   40.0  90.0
4   115  75.0   73.0  65.0
5    82  70.0   65.0  80.0
6    99  65.0   50.0  85.0
7    87  55.0   30.0  95.0
8   100  50.0   45.0  82.0
9    90  40.0   50.0   NaN
10   78   NaN   45.0   NaN
11   95   NaN   55.0   NaN
12   93   NaN    NaN   NaN
13   88   NaN    NaN   NaN
14  110   NaN    NaN   NaN

In [5]:
#6.1 Giả thuyết H0: “Các quần thể có cùng phương sai.”
test_6a = scipy.stats.levene(data_6["A"].dropna(), data_6["B"].dropna(), data_6["C"].dropna(), data_6["D"].dropna())
if test_6a[1] < 0.05:
  print("Bac bo gia thiet H0: Các quần thể có cùng phương sai.")
else:
  print("Khong bac bo gia thiet H0: Các quần thể có cùng phương sai.")

Khong bac bo gia thiet H0: Các quần thể có cùng phương sai.

In [6]:
#6.2 Giả thuyết H0: “Các quần thể có cùng phương sai.”
test_6a = scipy.stats.f_oneway(data_6["A"].dropna(), data_6["B"].dropna(), data_6["C"].dropna(), data_6["D"].dropna())
if test_6a[1] < 0.05:
  print("Bac bo gia thiet H0: Các quần thể có cùng giá trị trung bình.")
else:
  print("Khong bac bo gia thiet H0: Các quần thể có cùng giá trị trung bình.")

Bac bo gia thiet H0: Các quần thể có cùng giá trị trung bình.

In [7]:
#6.3 Nếu bác bỏ giả thuyết H0 trong câu 6.2), hãy cho biết những quần thể nào có sự khác biệt về giá trị trung bình.
data_6_melt = pd.melt(data_6.reset_index(), id_vars=["index"], value_vars=["A", "B", "C", "D"]).dropna()
data_6_melt.columns = ["index", "treatments", "value"]

from statsmodels.stats.multicomp import pairwise_tukeyhsd
m_comp = pairwise_tukeyhsd(endog=data_6_melt["value"], groups=data_6_melt["treatments"], alpha=0.05)
print(m_comp)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
======================================================
group1 group2 meandiff p-adj   lower    upper   reject
------------------------------------------------------
     A      B -35.3667  0.001 -53.4103  -17.323   True
     A      C -36.9167  0.001 -54.0344 -19.7989   True
     A      D -11.7778 0.3415 -30.4132   6.8577  False
     B      C    -1.55    0.9 -20.4744  17.3744  False
     B      D  23.5889 0.0171   3.2814  43.8964   True
     C      D  25.1389 0.0068   5.6495  44.6283   True
------------------------------------------------------

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Bảng kết quả chỉ ra rằng cặp A-B, A-C, B-D, C-D là True. Như vậy có sự khác biệt đáng kể về giá trị trung bình ở hai cặp này.